@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --font-sans: var(--font-lora);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-lora);
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
